In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'제품' : ['사과', '딸기', '수박']
                  ,'가격' : [1800, 1500, 3000]
                  ,'판매량' : [24, 38, 13]})

In [3]:
df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [7]:
avg1 = sum(df['가격']) / df['가격'].count()

In [8]:
avg1

2100.0

In [9]:
avg2 = sum(df['판매량']) / df['판매량'].count()

In [10]:
avg2

25.0