## 변수명 바꾸기

In [2]:
import pandas as pd

In [3]:
df_raw = pd.DataFrame({'var1' : [1, 2, 1],
                       'var2' : [2, 3, 2]})
df_raw

   var1  var2
0     1     2
1     2     3
2     1     2

In [4]:
df_new = df_raw.copy()  # 복사본 만들기
df_new  # 출력

   var1  var2
0     1     2
1     2     3
2     1     2

In [5]:
df_new = df_new.rename(columns = {'var2' : 'v2'}) # var2를 v2로 수정
df_new

   var1  v2
0     1   2
1     2   3
2     1   2