## Q1

In [1]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')

In [3]:
mpg.groupby('category')\
   .agg(mean_cty = ('cty', 'mean'))

             mean_cty
category
2seater     15.400000
compact     20.127660
midsize     18.756098
minivan     15.818182
pickup      13.000000
subcompact  20.371429
suv         13.500000

## Q2

In [4]:
mpg.groupby('category')\
   .agg(mean_cty = ('cty', 'mean'))\
   .sort_values('mean_cty', ascending = False)

             mean_cty
category
subcompact  20.371429
compact     20.127660
midsize     18.756098
minivan     15.818182
2seater     15.400000
suv         13.500000
pickup      13.000000

## Q3

In [6]:
mpg.groupby('manufacturer')\
   .agg(mean_hwy = ('hwy', 'mean'))\
   .sort_values('mean_hwy', ascending = False)\
   .head(3)

               mean_hwy
manufacturer
honda         32.555556
volkswagen    29.222222
hyundai       26.857143

## Q4

In [7]:
# 방법 1
mpg.query('category == "compact"')\
   .groupby('manufacturer')\
   .agg(n = ('manufacturer', 'count'))\
   .sort_values('n', ascending = False)

               n
manufacturer
audi          15
volkswagen    14
toyota        12
subaru         4
nissan         2

In [8]:
# 방법 2
mpg.query('category == "compact"')\
   .value_counts('manufacturer')

manufacturer
audi          15
volkswagen    14
toyota        12
subaru         4
nissan         2
Name: count, dtype: int64