In [1]:
import pandas as pd
import numpy as np

In [2]:
mpg = pd.read_csv('mpg.csv')
mpg.loc[[64, 123, 130, 152, 211], 'hwy'] = np.nan

## Q1

In [3]:
# 결측치 빈도 확인
mpg[['drv', 'hwy']].isna().sum()

drv    0
hwy    5
dtype: int64

## Q2

In [4]:
# hwy 결측치 제거
# drv별 분리
# hwy 평균 구하기
mpg.dropna(subset = 'hwy')\
   .groupby('drv')\
   .agg(mean_hwy = ('hwy', 'mean'))

      mean_hwy
drv
4    19.242424
f    28.200000
r    21.000000