# Spark Data Frame Basics

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [0]:
df = spark.read.json('/FileStore/tables/people-3.json')

In [0]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [0]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
df.columns

Out[10]: ['age', 'name']

In [0]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [0]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [0]:
data_schema = [StructField('age', IntegerType(), True), StructField('name', StringType(), True)]

In [0]:
final_struc = StructType(fields=data_schema)

In [0]:
df = spark.read.json('/FileStore/tables/people-3.json', schema=final_struc)

In [0]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [0]:
df['age']

Out[19]: Column<'age'>

In [0]:
type(df['age'])

Out[20]: pyspark.sql.column.Column

In [0]:
df.select('age')

Out[21]: DataFrame[age: int]

In [0]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [0]:
type(df.select('age'))

Out[23]: pyspark.sql.dataframe.DataFrame

In [0]:
df.head(2)

Out[24]: [Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [0]:
df.head(2)[0]

Out[25]: Row(age=None, name='Michael')

In [0]:
type(df.head(2)[0])

Out[26]: pyspark.sql.types.Row

In [0]:
df.select(['age', 'name'])

Out[27]: DataFrame[age: int, name: string]

In [0]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [0]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [0]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [0]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [0]:
df.withColumn('new_stuff', df['age']+2).show()

+----+-------+---------+
| age|   name|new_stuff|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       32|
|  19| Justin|       21|
+----+-------+---------+

In [0]:
df.createOrReplaceTempView('people')

In [0]:
results = spark.sql("SELECT * FROM people")

In [0]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [0]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")

In [0]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+